@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  background-color: #f7f8fa;
  font-size: 16px;
}

#__next {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
